<div class="container" style="background-color:#EAE6DA">

    <div class="row myrow row-eq-height" *ngFor="let image of images | paginate: { itemsPerPage: 1, currentPage: p }">
        <div class="col-md-8"> 
            <app-display [image]='image'></app-display>
        </div>
        <div class="col-md-4">
            <mat-radio-group>
                <h5><em>Image quality</em></h5>
                <mat-radio-button (change)="imageQuality($event,image)" value="Very Clear">Very clear</mat-radio-button>
                <mat-radio-button (change)="imageQuality($event,image)" value="Clear">Clear</mat-radio-button>
                <mat-radio-button (change)="imageQuality($event,image)" value="Bad">Bad</mat-radio-button>
                </mat-radio-group>
                <mat-radio-group>
                <h5><em>Is a medical Document?</em></h5>
                <mat-radio-button (change)="isMedical($event)" [checked]=true value="Yes">Yes</mat-radio-button>
                <mat-radio-button (change)="isMedical($event)" value="No">No</mat-radio-button>
            </mat-radio-group> 
            <div class="row col">
                <a type="button" (click)="showForm(image)" style="font-family: 'Times New Roman', Times, serif;color:brown">Digitize Image</a>
            </div>
        </div>
    </div>

    <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
    
</div>